<!doctype html>
<html lang="en">
    <head>
        <%- include('components/head'); %>
    </head>

    <body>
        <div class="container">
            <% for (var i = 0; i < data.length; i++) { %>
                <div class="eyecolor" style="background-color: rgb(<%= data[i] %>); height: 100px; width: 100px">
                    <%= data[i] %>
                </div>
            <% } %>
        </div>
    </body>
</html>