<!doctype html>
<html lang="en">
    <head>
        <%- include('components/head'); %>
    </head>

    <body>
        <div class="container">
            <%= JSON.stringify(data) %>
        </div>
    </body>
</html>